# Xcode
xcuserdata/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
build/

# CocoaPods
Pods/
Podfile.lock

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output
fastlane/.cache

# MacOS
.DS_Store

# Swift Package Manager
.swiftpm/xcode/package.xcworkspace/xcuserdata
.swiftpm/xcode/xcshareddata/swiftpm/Package.resolved